@keyframes scale-up {
    to {
        transform: scale(1.5);
    }
}

@keyframes fade-away {
    to {
        opacity: 0;
    }
}


/* 
-----------------------------preload de la pag ----------- */
@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }

}

.preLoader {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9;
    overflow: hidden;

}

.orange {
    position: absolute;
    top: -100px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear forwards;
    border: none;

}

.orange1 {
    background-image: url(img/Capa\ 2.png);
}

.orange2 {
    background-image: url(img/Capa\ 4.png);
}

.orange3 {
    background-image: url(img/Capa\ 5\ copia\ 3.png);
}



@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}


/*-----------------------------fin de preload de la pag ----------- */


body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
}

.tituloP {
    color: white;
    text-align: center;
    margin-bottom: 300px;
}

.banner-1 {

    background-image: linear-gradient(25deg, #ffaf03, #ff7300, #c75415, #ff2600);
    position: relative;
    overflow: hidden;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hojasBG-1 {
    position: absolute;
    background-image: url(img/hojas-arriba.png);
    background-size: contain;
    height: 120%;
    background-repeat: repeat;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    top: 0;
    left: 0;
    width: 120%;
    opacity: 50% !important;
    z-index: 2;
}

.naranjas {
    background-image: url(img/naranjas.png);
    position: absolute;
    background-size: contain;
    height: 120%;
    background-repeat: repeat;
    top: -30px;
    bottom: 0px;
    left: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    width: 110%;
    z-index: 1;
    opacity: 30% !important;
}

.hojasBG.scroll-effect {
    animation: scale-up 1s forwards, fade-away 1.5s forwards;
}

.naranja.scroll-effect {
    animation: scale-up 1s forwards, fade-away 1.5s forwards;
}

.detalles.scroll-effect {
    animation: scale-up 1s forwards, fade-away 1.5s forwards;
}

.cont-princ {
    position: absolute;
    width: 280px;
    height: 280px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;


}

.botellaVaso img {
    width: 250px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 5;


}

.detalle img {
    position: absolute;
    width: 110px;
    top: 190px;
    left: 80px;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    z-index: 5;

}

.tituloVita img {
    width: 250px;
    position: absolute;
    top: 80px;
    left: -210px;
    z-index: 1;

}

.tituloCure img {
    width: 250px;
    position: absolute;
    top: 80px;
    left: 210px;
    z-index: 1;

}

.hojasBG-3 {
    background-image: url(img/hojas-arriba2.png);
    position: absolute;
    background-size: cover;
    height: 100%;
    background-repeat: repeat;
    top: 0;
    left: 0;
    width: 120%;
    z-index: 5;


}



/* ------------------------------ final banner 1 inicio banner 2 --------------------------------- */

@keyframes fallA {
    100% {
        transform: translateY(0);
    }


}

@keyframes fall-bottom {

    100% {
        transform: translateY(0);
    }

}

@keyframes idle {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
        /* Pequeño movimiento hacia arriba y abajo */
    }
}

.banner-2 {
    background-image: linear-gradient(25deg, #ffee03, #ff7300, #c75415, #ffc400);                                             
    margin-top: 280px;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    

}


.burbujas svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}


.svg {
    opacity: 0;

}

.svg.start {
    animation: llenarBurbujas 10s forwards;

}


.burbuja-bottom-layer {
    will-change: transform;
    transform: translateY(768px);
    animation: fallA 5.5s infinite linear;


}


.burbuja-top-layer {
    transform: translateY(768px);
    will-change: transform;
    animation: fallA 3s infinite linear;

}

@keyframes llenarBurbujas {
    0% {
        opacity: 0;
        /* Comienza lleno (opaco) */
    }

    100% {
        opacity: 1;
        /* Se vuelve completamente transparente */
    }
}




.burbujas {
    /* border: solid 1px black; */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    height: 280px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.texto {

    font-family: "Afacad Flux", sans-serif;
    ;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 50px;
    line-height: 0.7;
    --animate-duration: 1.25s !important;

}



.cont {


    position: relative;
    display: flex;
    width: 250px;
    height: 200px;
    top: -20px;

}

.vaso {
    background-image: url(imgBanner2/vaso.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    height: 200%;
    width: 100%;

}

.vaso.fuel {

    opacity: 1;
    /* Comienza visible */
    animation: llenarVaso 3s forwards;

}


.vasoNaranja {
    background-image: url(imgBanner2/vaso-naranja-.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 200%;
    width: 100%;
}

/* Animación para reducir opacidad */
@keyframes llenarVaso {
    0% {
        opacity: 1;
        /* Comienza lleno (opaco) */
    }

    100% {
        opacity: 0;
        /* Se vuelve completamente transparente */
    }
}


.pastilla img {
    position: absolute;
    width: 250px;
    top: -260px;
    /* Empieza fuera de la pantalla */
    left: 10px;
    transition: all 0.5s ease;
    opacity: 0%;
    /* Transición para que vuelva suavemente */


}

.pastilla img.fall {
    animation: idle 1.5s infinite ease-in-out;
    top: -50px;
    opacity: 100%;



}



.efervescencia {
    position: absolute;
    top: -10px;
    left: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.efervescencia.start {
    animation: llenarBurbujas 3s forwards;
}

.burbuja {
    position: absolute;
    width: 200px;
    /* Tamaño de las burbujas */
    opacity: 0;
    /* Inician invisibles */
    animation: efervescencia 1.5s infinite;
    /* Animación continua */
}

/* Específicos para cada burbuja para escalonar la animación */
.burbuja:nth-child(1) {
    animation-delay: 0s;
}

.burbuja:nth-child(2) {
    animation-delay: 0.25s;
}

.burbuja:nth-child(3) {
    animation-delay: 0.5s;
}

.burbuja:nth-child(4) {
    animation-delay: 0.75s;
}

.burbuja:nth-child(5) {
    animation-delay: 1s;
}

.burbuja:nth-child(6) {
    animation-delay: 1.25s;
}

/* Animación para el efecto de efervescencia */
@keyframes efervescencia {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-20px);
        /* Movimiento hacia arriba */
        opacity: 0;
    }
}

.txtAnimation {

    text-decoration: none;
    color: transparent;
    background: url("https://wweb.dev/resources/creative-hover-effects/wave.svg") repeat-x #fff;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;
    background-position-x: 0;
    background-position-y: 2em;
    -webkit-transition: background-position-y 0.6s ease;
    transition: background-position-y 0.6s ease;
    -webkit-animation: waveAnimation 4s infinite linear;
    animation: waveAnimation 4s infinite linear;
    animation-play-state: running;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;

}



.txtAnimation:hover {
    background-position-x: 0;
    background-position-y: 0;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}


@keyframes waveAnimation {
    from {
        background-position-x: 0%;
    }

    to {
        background-position-x: 200%;
    }
}
















/* ------------------------------ final banner 2 inicio banner 3 --------------------------------- */


.banner-3 {
    margin-top: 280px;
    background-image: linear-gradient(25deg, #071854, #1e5282, #2391b2, #04d5e4);
    height: 280px;
    margin-bottom: 280px;
}